---
import Express from "../icons/Express.astro"
import Mongo from "../icons/Mongo.astro"
import React from "../icons/React.astro"
import Tailwind from "../icons/Tailwind.astro"

const TAGS = {
  REACT: {
    name: 'React.js',
    class: 'bg-black text-[#61dbfb]',
    icon: React,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-black text-[#73bcf6]',
    icon: Tailwind,
  },
  EXPRESS: {
    name: 'Express.js',
    class: 'bg-black text-white',
    icon: Express,
  } ,
  MONGO: {
    name: 'MongoDB',
    class: 'bg-black text-[#00ed64]',
    icon: Mongo
  }
}

const PROJECTS = [
  {
    title: 'Real Home | Ethel Salazar',
    description: 'Creado desde cero. Aplicación para la gestión de propiedades, bienes raíces, alquileres, etc. Optimizado para buen rendimiento y SEO.',
    link: 'https://www.ethelsalazar-realhome.com/',
    github: 'https://github.com/EthelsalazarRealhome/RealHomeWebApp',
    image: '/projects/realhome.webp',
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.EXPRESS, TAGS.MONGO] 
  }
]
---

{
  PROJECTS.map(({ title, description, tags, image, link, github }) => (
    <article class=" ml-3">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>   
      <span class="flex pb-6">
        <a href={link} target="blank" rel="noopener" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2 focus:outline-none">
                    Ver más
                    <svg class="ms-1.5 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>  
        <a href={github} target="blank" rel="noopener" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2 mx-2 focus:outline-none">
                    Codigo
                    <svg class="ms-1.5 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>  
      </span>                    
      <ul class="flex gap-x-2 flex-row">
        {
          tags.map(tag => (
            <li>
              <span class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4"/>
                {tag.name}
              </span>
            </li>
          ))
        }
      </ul>
      <img 
        class="rounded shadow-2xl shadow-white/10 py-3"
        src={image} 
        alt={`Captura de pantalla del proyecto ${image}`} 
      />
    </article>
  ))
}